/*
  Joselyn Do
  May 17th, 2024
  Section AB: Elias & Quinton

  This styles.css file adds the formatting and appearance of index.html.
  The color scheme, consisting of beige and green, is based off the main background
  image of a garden to give a impression of being outdoors in a garden.
*/

html {
  /*
    Retrieved from Behzad Ghaffarian on Unsplash,
    https://unsplash.com/photos/field-of-trees-near-grass-LBjA0WPtUhQ
  */
  background-image: url("img/garden-background.jpg");
  background-size: cover;
  background-position-y: bottom;
  background-repeat: no-repeat;
  min-height: 100%;
}

h1 {
  width: 100%;
  background-color: green;
  text-align: center;
  padding: 7px;
  font-size: 56pt;
  margin: 5px;
}

h2 {
  font-size: 36pt;
  text-decoration: underline;
}

body > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

p, a {
  font-size: 16pt;
}

button {
  width: fit-content;
  max-height: fit-content;
  margin: 15px;
  padding: 10px;
  font-size: 16pt;
}

input {
  margin: 10px;
}

img {
  object-fit: contain;
}

span {
  text-decoration: underline;
}

p, button, ol, label, a {
  font-family: "Raleway", serif;
}

h1, h2, h3 {
  font-family: "Freeman", sans-serif;
}

#status-message {
  background-color: aliceblue;
}

#status-message h2 {
  margin-top: 10px;
  margin-bottom: 0px;
}

#start-view button {
  font-size: 35pt;
}

#recommendation {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#paths {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20px;
}

#paths section {
  border: solid rgb(96, 95, 69) 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#paths h3, #status-message {
  text-align: center;
}

#flower-view div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#flower-info img {
  width: 50%;
  margin-right: 30px;
}

#flower-view button {
  width: 25%;
}

#flower-view button > img {
  width: 25%;
}

#next-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

#start-view, #path-selection-view, #flower-view, #end-view {
  background-color: blanchedalmond;
  width: 55%;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin-top: 20px;
  border: solid rgb(96, 95, 69) 15px;
}

.path-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}